#sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background:#151719;
    left:-200px;
    transition:all 500ms linear;
    margin:0px;
    padding:0px;
}

#sidebar.active{
    left:0px;
}

#sidebar ul li{
    color:rgba(230,230,230,0.9);
    list-style: none;
    padding:15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    font-size:18px;
}

#sidebar ul li:hover{
    color:rgba(130,130,130,0.9);
    cursor:pointer;
}

#sidebar .toggle-btn{
    position:absolute;
    left:230px;
    top:20px;
    cursor:pointer;
}

#sidebar .toggle-btn span{
    display:block;
    width:58px;
    height:8px;
    background:#151719;
    margin:5px 0px;
}

#menulabel{
    color:#f599e1;
}