*{
    font-family:verdana;
}

h1{
    text-align:center;
}

p{
  font-size:20px;
  color:#644709;
}

li{
	font-size:20px;
}

.title{
  font-size:45px;
  padding:35px;
  color:#473308;
}

.about{
    display:grid;
    grid-template-columns: 40% 60%;
    color:#473308;
  }

.determinants{
    display:grid;
    grid-template-columns: 60% 40%;
  }

#centerTextBlock{
  align-content:center;
}

#container{
	padding-left:200px;
	padding-right:200px;
	padding-bottom:200px;
}

#janeImage{
	height: 60%;
}

#detImage{
	height:60%;
}

#detDescript{
	vertical-align:"middle";
}

#view{
	background:#d7e1e7;
	border: 5px solid #644709;
  border-radius: 30px;
  padding:75px;
}

img{
	text-align:center;
  border: 5px solid #120438;
  border-radius: 25px;
	vertical-align:middle;
}

p{
	display:inline;
}

#mainBody{
	background-image:url("../images/teal.jpg");
	background-size: 100% 100%;
}

#nightContainer{
  background-image:url("../images/greenstars.jpeg");
  background-size: 100% 100%;
}

.selfhelp{
  line-height:1.7;
}

.TNO{
  color:#d3c832;
  padding:50px;
}

.TNOtitle{
  color:#ddaf17;
}